@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --pink: #FF42A5;
    --white: #ffff;
    --rgba: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}

body {
    width: 100%;
}

/* header style */

.header {
    background: var(--white);
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 55px 240px;
}

.nav_logo {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.nav_logo img {
    width: 86.041px;
    height: 40px;
}

.nav_logo h3 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.nav_logo span {
    color: var(--pink);
}

.nav_menus ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.nav_menus ul a {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav_menus ul button {
    width: 262px;
    height: 56px;
    border-radius: 9px;
    color: #0B0223;
    gap: 20px;
}

/* main style start */

.main {
    width: 100%;
    padding: auto 240px;
}

.section1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sec1_content {
    background-image: url(./images/Group14.png);
    padding: 148px 310px 148px 240px;
}

.sec1_content h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    width: 348px;
    height: 56px;
}

.sec1_content h1 {
    font-size: 95px;
    font-weight: 800;
    background: var(--rgba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 355px;
    height: 110px;

}

.sec1_content p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin: 17px 0 17px 0px;
}

.sec1_content .para {
    margin-bottom: 40px;
}

.sec1_content .button {
    display: flex;
    gap: 24px;
}

.sec1_content .btn_pink {
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 3rem;
    background: var(--pink);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.sec1_content .btn_blue {
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 3rem;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.sec1_img {
    padding: 0 240px 0 0;
}

/* section2 style */

.section2 {
    background-color: #f9f4fb;
    width: 100%;
    height: 600px;
}

.sec2_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
    text-align: right;
}

.sec2_details {
    padding: 95px 0;
}

.sec2_content .sec2_img {
    width: 868px;
    height: 489px;
}

.sec2_details h3 {
    font-size: 48px;
    font-weight: 700;
    background: var(--rgba);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.sec2_details p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 520px;
    margin-bottom: 32px;
    text-align: right;
}

.sec2_details .sec2_btn {
    display: inline-flex;
    padding: 21px 40px;
    gap: 10px;
    border: none;
    border-radius: 48px;
    background: var(--pink);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

.sec2_details h4 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    width: 520px;
}

.sec2_details h4 span {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

/* sectoin3 style */

.section3 {
    background: var(--white);
    width: 100%;
}

.sec3_content {
    padding: 120px 240px;
}

.sec3_details h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.sec3_details span {
    background: var(--rgba);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.sec3_details p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.sec3_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sec3_img > div {
    position: relative;
    margin: 10px;
  }
  
  .sec3_img > div:hover {
    box-shadow: 0 0 10px rgb(255, 4, 4);
  }
  
  .hover_img {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(255, 0, 0);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .sec3_img > div:hover .hover_img {
    opacity: 1;
  }
  
  .h_icon {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  
/* section4 style */

.section4,
.section5 {
    background: var(--white);
    width: 100%;
}

.sec4_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
    text-align: right;
}

.sec4_details h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.sec4_details h3 span {
    background: var(--rgba);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec4_details p {
    color: #534C64;
    text-align: right;
    width: 353px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.sec4_img .sec4_img1 {
    position: relative;
}

.sec4_img .sec4_img2 {
    position: absolute;
    right: 720px;
    top: 2700px;
}

.sec5_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 280px 240px;
    text-align: left;
    flex-direction: row-reverse;
    gap: 250px;
}

.sec5_details {
    text-align: left;
}

.sec5_details h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.sec5_details h3 span {
    background: var(--rgba);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec5_details p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 483px;
}

.sec5_img .sec5_img1 {
    position: relative;
}

.sec5_img .sec5_img2 {
    position: absolute;
    bottom: -3100px;
    right: 850px;
}

/* section6 style */

.section6 {
    width: 100%;
    height: 820px;
    background: #FF42A5;
}

.banner {
    margin: 120px 240px;
}

.banner_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_details h3 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    width: 426px;
    margin-bottom: 24px;
}

.banner_details p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 680px;
    margin-bottom: 2rem;
}

.banner_details .banner_items {
    display: flex;
    gap: 97px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 40px;
}

.banner_btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background-color: #fff;
    border: none;
    color: var(--pink);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background: var(--white);
}

/* section7 style */

.section7 {
    width: 100%;
    background: var(--white);
    margin: 120px 0px;
}

.btn_div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .btn_div1 button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.3s ease, color 0.3s ease;
  }
  
  .btn_div1 button:hover {
    border: 2px solid red;
    color: red;
  }
  

.btn_div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.btn_div2 button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.3s ease, color 0.3s ease;
  }

  .btn_div2 button:hover {
    border: 2px solid red;
    color: red;
  }


.footer {
    width: 100%;
    height: 640px;
    background: #0B0223;
}

.footer_content {
    display: block;
    align-items: center;
    justify-content: center;
}

.footer_describe {}

.footer_title {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 130px;
}

.footer_title h3 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}

.footer_title span {
    color: var(--pink);
}

.footer_menus {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 55px 0;
}

.footer_menus li a {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
}

.social_media {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.social_media li a {
    width: 60px;
    height: 40px;
}

.footer_items {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;
}

.footer_items li a {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.copyright p {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/* responsive style */

@media screen and (max-width: 767px) {
    .navbar {
      padding: 20px;
    }
  
    .nav_logo h3 {
      font-size: 32px;
    }
  
    .nav_menus ul {
      flex-direction: column;
      gap: 10px;
    }
  
    .nav_menus ul button {
      width: 100%;
    }
  
    .main {
      padding: 0 20px;
    }
  
    .section1 {
      flex-direction: column;
    }
  
    .sec1_content {
      padding: 80px 20px;
      text-align: center;
    }
  
    .sec1_content h3 {
      width: 100%;
      font-size: 32px;
    }
  
    .sec1_content h1 {
      font-size: 64px;
    }
  
    .sec1_img {
      padding: 0;
      text-align: center;
    }
  
    .section2,
    .section3,
    .section4,
    .section5,
    .section6,
    .section7 {
      padding: 40px 20px;
    }
  
    .sec2_content,
    .sec5_content,
    .sec6_content {
      flex-direction: column;
      gap: 40px;
    }
  
    .sec2_content .sec2_img,
    .sec5_content .sec5_img,
    .banner_content .banner_img {
      margin: 0 auto;
    }
  
    .sec2_content .sec2_img,
    .sec2_content .sec2_details,
    .sec5_content .sec5_details,
    .sec5_content .sec5_img,
    .banner_content .banner_details,
    .banner_content .banner_img {
      text-align: center;
    }
  
    .btn_div1,
    .btn_div2 {
      flex-direction: column;
      gap: 20px;
    }
  
    .btn_div1 button,
    .btn_div2 button {
      width: 100%;
    }
  
    .footer_menus {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  
    .social_media {
      justify-content: center;
      gap: 20px;
    }
  
    .footer_items {
      justify-content: center;
      gap: 20px;
    }
  
    .footer_items li a {
      font-size: 14px;
    }
  
    .footer_describe {
      padding-bottom: 40px;
    }
}