@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --pink: #FF42A5;
    --white: #ffff;
    --rgba: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}

body {
    width: 1920px;
}

/* header style */

.header {
    width: 100%;
    background: var(--white);
    padding: 55px 240px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav_logo {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.nav_logo img {
    width: 86.041px;
    height: 40px;
}

.nav_logo h3 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.nav_logo span {
    color: var(--pink);
}

.nav_menus ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.nav_menus ul a {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav_menus ul button {
    width: 262px;
    height: 56px;
    border-radius: 9px;
    color: #0B0223;
}

/* main style start */

.main {
    width: 100%;
    padding: auto 240px;
}

.section1 {
    /* width: 1920px; */
    display: flex;
    /* justify-content: space-between; */
}

.sec1_content {
    background-image: url(./images/Group\ 14.png);
    width: 901px;
    height: 700px;
    padding: 148px 310px 148px 0px;
}

.sec1_content h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin-left: 240px;
    width: 348px;
    height: 56px;
}

.sec1_content h1 {
    margin-left: 240px;
    font-size: 95px;
    font-weight: 800;
    background: var(--rgba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 355px;
    height: 110px;

}

.sec1_content p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin: 17px 0 17px 240px;
}

.sec1_content .para {
    margin-bottom: 40px;
}

.sec1_content .button {
    margin-left: 240px;
    display: flex;
    gap: 24px;
}

.sec1_content .btn_pink {
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 3rem;
    background: var(--pink);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.sec1_content .btn_blue {
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 3rem;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.sec1_img {
    width: 711px;
    height: 446px;
    margin-left: ;
}