@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --pink: #FF42A5;
    --white: #ffff;
    --rgba: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}

body {
    width: 100%;
}

/* header style */

.header {
    background: var(--white);
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 55px 240px;
}

.nav_logo {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.nav_logo img {
    width: 86.041px;
    height: 40px;
}

.nav_logo h3 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.nav_logo span {
    color: var(--pink);
}

.nav_menus ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.nav_menus ul a {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav_menus ul button {
    width: 262px;
    height: 56px;
    border-radius: 9px;
    color: #0B0223;
}

/* main style start */

.main {
    width: 100%;
    padding: auto 240px;
}

.section1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sec1_content {
    background-image: url(./images/Group14.png);
    padding: 148px 310px 148px 240px;
}

.sec1_content h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    width: 348px;
    height: 56px;
}

.sec1_content h1 {
    font-size: 95px;
    font-weight: 800;
    background: var(--rgba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 355px;
    height: 110px;

}

.sec1_content p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin: 17px 0 17px 0px;
}

.sec1_content .para {
    margin-bottom: 40px;
}

.sec1_content .button {
    display: flex;
    gap: 24px;
}

.sec1_content .btn_pink {
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 3rem;
    background: var(--pink);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.sec1_content .btn_blue {
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 3rem;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.sec1_img {
    padding: 0 240px 0 0;
}

/* section2 style */

.section2 {
    background-color: #f9f4fb;
    width: 100%;
    height: 600px;
}

.sec2_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
    text-align: right;
}

.sec2_details {
    padding: 95px 0;
}

.sec2_content .sec2_img {
    width: 868px;
    height: 489px;
}

.sec2_details h3 {
    font-size: 48px;
    font-weight: 700;
    background: var(--rgba);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.sec2_details p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 520px;
    margin-bottom: 32px;
    text-align: right;
}

.sec2_details .sec2_btn {
    display: inline-flex;
    padding: 21px 40px;
    gap: 10px;
    border: none;
    border-radius: 48px;
    background: var(--pink);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

.sec2_details h4 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    width: 520px;
}

.sec2_details h4 span {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

/* sectoin3 style */

.section3 {
    background: var(--white);
    width: 100%;
}

.sec3_content {
    padding: 120px 240px;
}

.sec3_details h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.sec3_details span {
    background: var(--rgba);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.sec3_details p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.sec3_content .sec3_img {
    display: flex;
    gap: 24px;
}

.h_icon {
    font-size: 3rem;
}

.sec3_common_img {
    position: relative;
}

.sec3_img .hover_img p {
    color: #c2385d;
}

.hover_img {
    text-align: center;
    position: absolute;
    bottom: -180px;
    opacity: 0;
}

.hover_img:hover {
    text-align: center;
    position: absolute;
    bottom: -180px;
    opacity: 1;
}

.sec3_common_img:hover {
    border: 5px solid var(--pink);
    border-radius: 5px;
    display: block;

}

.sec3_img p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    width: 342px;
    margin-top: 20px;
}

/* section4 style */

.section4,
.section5 {
    background: var(--white);
    width: 100%;
}

.sec4_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
    text-align: right;
}

.sec4_details h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.sec4_details h3 span {
    background: var(--rgba);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec4_details p {
    color: #534C64;
    text-align: right;
    width: 353px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.sec4_img .sec4_img1 {
    position: relative;
}

.sec4_img .sec4_img2 {
    position: absolute;
    right: 720px;
    top: 2700px;
}

.sec5_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 280px 240px;
    text-align: left;
    flex-direction: row-reverse;
    gap: 250px;
}

.sec5_details {
    text-align: left;
}

.sec5_details h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.sec5_details h3 span {
    background: var(--rgba);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec5_details p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 483px;
}

.sec5_img .sec5_img1 {
    position: relative;
}

.sec5_img .sec5_img2 {
    position: absolute;
    bottom: -3100px;
    right: 800px;
}

/* section6 style */

.section6 {
    width: 100%;
    height: 820px;
    background: #FF42A5;
}

.banner {
    margin: 120px 240px;
}

.banner_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_details h3 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    width: 426px;
    margin-bottom: 24px;
}

.banner_details p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 680px;
    margin-bottom: 2rem;
}

.banner_details .banner_items {
    display: flex;
    gap: 97px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 40px;
}

.banner_btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background-color: #fff;
    border: none;
    color: var(--pink);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background: var(--white);
}

/* section7 style */

.section7 {

}